doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Moontube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
        header 
            nav 
                ul
                    if fakeUser.loggedIn
                        li 
                            a(href="/users/logout") Logout
                    else
                        li 
                            a(href="/login") Login
                    li 
                        a(href="/") Home
            h1=pageTitle
        main 
            block content
    include partials/footer.pug