extends base
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search bt Title", type="text" name="keyword")
        input(value="Search now", type="submit")

    each video in videos 
        +video(video)   
